.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: hsla(0,0%,100%,.9);
}

i{
    color: red;
    cursor: pointer;
}

.leftContainer{
    background-color: #373c3f;
    height: 100vh;
}

.rightContainer{
    background-color: #2f3437;
    height: 100vh;
}

.projects{
    font-size: 32px;
    font-weight: bold;
    font-family: sf-bold sans-serif;
    padding-bottom: 15px;
    border-bottom: solid hsla(0,0%,100%,.9);
    margin: 100px 40px 20px 60px;
}

.project{
    margin-left: 60px;
    font-size: 24px;
    background-color: #444a4d;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
}

.addProject{
    margin-left: 200px;
    font-size: 20px;
    font-family: sf-medium sans-serif;
    margin-top: 30px;
    cursor: pointer;
}

.header{
    margin-top: 9vh;
    display: grid;
    grid-template-columns: 15fr 1fr;
    border-bottom: solid hsla(0,0%,100%,.9);
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
    font-family: sf-bold sans-serif;
    font-weight: bold;
}

.task{
    font-size: 30px;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid hsla(0,0%,100%,.4);
    display: grid;
    grid-template-columns: 1fr 15fr 15fr 0.1fr;
    margin-right: 50px;
    margin-left: 30px;
}

.addTask{
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    cursor: pointer;
}

.checkbox{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,100%,.4);
    cursor: pointer;
}

.checked {
    background-color: #7af76e;
    background-image: url("icons8-tick.svg");
    background-position: 50% 50%;
    background-size: 15px;
    background-repeat: no-repeat;
}

.addToDo{
    font-size: 30px;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid hsla(0,0%,100%,.4);
    margin-right: 50px;
    margin-left: 30px;
    display: flex;
    gap: 20px;
}

#textInput{
    background-color: #444a4d;
    border: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

#dateInput{
    background-color: #444a4d;
    border: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    width: 280px;
}

#submit{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    background-color: #00cd00;
    border: #00cd00;
    margin-left: 10px;
}

#cancel{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    background-color: red;
    border: red;
    margin-left: 12px;
}

.task-tem{
    font-size: 30px;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid hsla(0,0%,100%,.4);
    display: grid;
    grid-template-columns: 1fr 15fr 0.1fr;
    margin-right: 50px;
    margin-left: 30px;
}

.name{
    margin-left: 10px;
}